<div ng-controller="profileController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container header">
            <div class="left">
            <h1 class="leftHeader">
                Profile
            </h1>
            </div>
            <div class="right">
            <h1 class="rightHeader">
                <a href="#!/user/:uid" class="normal">&#10003;</a>
            </h1>
            </div>
        </div>
        </nav>

        <div class="main general">
            <form method="post" action="data/profile">
                <label for="username">
                    Username:
                </label>
                <input name="username"
                       ng-model="user.username"
                       id="username"
                       type="text"
                       readonly
                       class="form-control general"/>
                <label for="email">
                    Email:
                </label>
                <input name="email"
                       mg-model="user.email"
                       id="email"
                       type="email"
                       placeholder="you@somewhere.com"
                       class="form-control general"/>
                <label for="fName">
                    First Name:
                </label>
                <input name="fName"
                       ng-model="user.firstName"
                       id="fName"
                       type="text"
                       placeholder="First Name"
                       class="form-control general"/>
                <label for="lName">
                    Last Name:
                </label>
                <input name="lName"
                       ng-model="user.lastName"
                       id="lName"
                       type="text"
                       placeholder="Last Name"
                       class="form-control general"/>
            </form>
            <a ng-click="website(user)"
               class="btn btn-block btn-primary">
                Websites
            </a>
            <a href="#!/login"
               class="btn btn-block btn-primary cancel">
                Logout
            </a>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
            </div>
    </nav>
</div>