<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
        <div class="left">
            <h1 class="leftHeader">
                Edit Heading
            </h1>
        </div>
    </div>
</nav>

<div class="full">
<div class="general main">
    <form method="post" action="/data/edit/">
        <label for="name">
            Name:
        </label>
        <input name="name"
                id="name"
                ng-model="model.widget.name"
                type="text"
                placeholder="Name"
                class="form-control general"
                value="JNPR title">
        <label for="text">
            Text:
        </label>
        <input name="text"
                id="text"
                ng-model="model.widget.text"
                type="text"
                placeholder="The text of your Header"
                class="form-control general"
                value="Team JNPR">
        <label for="size">
            Size:
        </label>
        <input name="size"
                id="size"
                ng-model="model.widget.size"
                type="number"
                placeholder="Heading Size"
                class="form-control general"
                value="3">
    </form>
    <a ng-click="model.updateCurr(model.widget)"
       class="btn btn-block btn-primary">
        Ok
    </a>
    <a ng-click="model.cancel()"
       class="btn btn-block btn-primary">
        Cancel
    </a>
    <a ng-click="model.delete()"
       class="btn btn-block btn-primary cancel">
        Delete
    </a>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container footer">
        <div class="right floatVertical">
            <a ng-click="model.profile()">
                <img src="./img/PersonProfile.png" class="tiny">
            </a>
        </div>
    </div>
</nav>