<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
        <div class="left">
            <h1 class="leftHeader">
                Widget Chooser
            </h1>
        </div>
    </div>
</nav>

<div class="main general">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">Heading</a>
        </li>
        <li class="list-group-item">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">Image</a>
        </li>
        <li class="list-group-item">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">Youtube</a>
        </li>
    </ul>

    <a href="#!/user/:uid/website/:wid/page/:pid/widget"
       class="btn btn-block btn-primary">
        Cancel
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container footer">
        <div class="right floatVertical">
            <a href="#!/user/:uid">
                <img src="./img/PersonProfile.png" class="tiny">
            </a>
        </div>
    </div>
</nav>