<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
        <div class="left">
            <h1 class="leftHeader">
                <a href="#!/user/:uid/website/:wid/page/:pid" class="normal"><   </a>Widget List
            </h1>
        </div>
        <div class="right">
            <h1 class="rightHeader">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/new" class="normal">+</a>
            </h1>
        </div>
    </div>
</nav>

<div class="main general">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html">Heading</a>
            <span class="right">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                    <img src="./img/GearBlue.png" class="miniscule">
                </a>
            </span>
            <h3>Team JNPR</h3>
        </li>
        <li class="list-group-item">
            <a href="widget-image.view.client.html">Image</a>
            <span class="right">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                    <img src="./img/GearBlue.png" class="miniscule">
                </a>
            </span>
            <h3></h3>
            <img src="https://cdn.discordapp.com/attachments/266020118385917952/335585804061638687/jnpr_team_wallpaper_by_dantherrien101-d8kn02l.png"
                 width="50%">
        </li>
        <li class="list-group-item">
            <a href="widget-youtube.view.client.html">Youtube</a>
            <span class="right">
                <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                    <img src="./img/GearBlue.png" class="miniscule">
                </a>
            </span>
            <h3></h3>
            <iframe width="50%"
                    height="315"
                    src="https://www.youtube.com/embed/5_BF789hJuE"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container footer">
        <div class="right floatVertical">
            <a href="#!/user/:uid">
                <img src="./img/PersonProfile.png" class="tiny">
            </a>
        </div>
    </div>
</nav>