div.general {
    margin-left: 2%;
    margin-right: 2%;
}

input.general {
    margin-bottom: 10px;
    height: 50px;
}

button.general {
    margin-bottom: 10px;
    height: 50px;
}

a.register {
    background-color: forestgreen;
    border-color: darkgreen;
    height: 50px;
}

a.register:hover {
    background-color: darkgreen;
}

a.cancel {
    background-color: red;
    border-color: darkred;
    height: 50px;
}

a.cancel:hover {
    background-color: darkred;
}
