<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
        <div class="left">
            <h1 class="leftHeader">
                Widget Chooser
            </h1>
        </div>
    </div>
</nav>

<div class="main general">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.newWidget('HEADING')">Heading</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newWidget('YOUTUBE')">Youtube</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newWidget('HTML')">HTML</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.newWidget('INPUT')">Text</a>
        </li>
    </ul>

    <a ng-click="model.cancel()"
       class="btn btn-block btn-primary">
        Cancel
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container footer">
        <div class="right floatVertical">
            <a ng-click="model.profile()">
                <img src="./img/PersonProfile.png" class="tiny">
            </a>
        </div>
    </div>
</nav>