<div ng-include="'./views/generalPages/templates/navbar-component.view.client.html'"></div>

<div class="main full">
    <div id="wrap">
        <div id="content">
            <h1 class="center" ng-show="!model.user">Welcome to TagMovies!</h1>
            <h1 class="center" ng-show="model.user">Welcome back {{model.user.firstName}}!</h1>
        </div>
    </div>
    <div id="wrap2">
        <div id="content2">
            <h3 class="center">Use the search bar in the upper right to begin.</h3>
        </div>
    </div>
</div>
