<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container header">
        <div class="left">
            <h1 class="leftHeader">
                Edit Text Input
            </h1>
        </div>
    </div>
</nav>

<div>
    <form>
        <label for="text">Text</label>
        <input id="text" ng-model="model.widget.text" class="form-control"/>
        <label for="rows">Rows</label>
        <input id="rows" ng-model="model.widget.rows" class="form-control" type="number"/>
        <label for="placeholder">Placeholder</label>
        <input id="placeholder" ng-model="model.widget.placeholder" class="form-control"/>
        <label for="formatted">Formatted</label>
        <input id="formatted" ng-model="model.widget.formatted" type="checkbox"/>
    </form>
</div>

<a ng-click="model.updateCurr(model.widget)"
   class="btn btn-block btn-primary">
    Ok
</a>
<a ng-click="model.cancel()"
   class="btn btn-block btn-primary">
    Cancel
</a>
<a ng-click="model.delete()"
   class="btn btn-block btn-primary cancel">
    Delete
</a>