.spaced {
    margin-top: 2px;
    margin-bottom: 2px;
}

.left {
    float: left;
    clear: left;
}

.right {
    float: right;
}

.inline {
    display: inline;
    align-self: flex-end;
}

#wrap, #wrap2 {
    float: left;
    position: relative;
    left: 50%;
    clear: left;
}

#content, #content2 {
    clear: left;
    float: left;
    position: relative;
    left: -50%;
}

.navbar-default .navbar-nav>li>label {
    color: #777;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-nav>li>input {
    color: #777;
    font-weight: normal;
    margin-top: 0;
    margin-right: 2px;
}

#search {
    color: #777;
    font-weight: normal;
    margin-top: 10px;
}

.navbar .navbar-default {
    background-color: #999999;
}


.left {
    display: inline-block;
    float: left;
    margin-right: 1%;
    width: 43%;
}

.right {
    display: inline-block;
    float: right;
    margin-left: 1%;
    width: 43%;
}

body {
    background-color: #666666;
    color: silver;
}

div.general {
    margin-left: 2%;
    margin-right: 2%;
}


input.withButton {
    align-self: flex-start;
    width: calc(100% - 50px)
}

span.left {
    float: left;
    width: calc(100% - 27px)
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

.normal {
    color: silver;
}

.normal:hover {
}

.table-hover tbody tr:hover td>a, .table-hover tbody tr:hover th>a {
    color: #666666;
}

.left-narrow{
    display: inline-block;
    float: left;
    margin-right: 1%;
    width: 23%;
}

.reactive-pic {
    width: 100%;
}

.right-wide {
    display: inline-block;
    float: right;
    margin-left: 1%;
    width: 75%;
}

.right-wide-less {
    display: inline-block;
    margin-left: 1%;
    width: 65%;
}