<div ng-include="'./views/generalPages/templates/navbar-component.view.client.html'"></div>

<div class="main full">
    <div class="left">
        <h1 class="inline">{{model.other.username}}'s Profile</h1>
        <div class="alert alert-success noWrapping"
             ng-show="model.updateMessage">
            {{model.updateMessage}}
        </div>
    </div>
    <div class="left">
        <form method="post" action="/api/update" enctype="multipart/form-data">
            <label for="username">Username</label>
            <input name="Username"
                   id="username"
                   class="form-control"
                   type="text"
                   ng-model="model.other.username"
                   readonly="readonly">
            <label for="password">Password</label>
            <input name="Password"
                   id="password"
                   class="form-control"
                   type="password"
                   ng-model="model.other.password">
            <label for="firstName">First Name</label>
            <input name="First Name"
                   id="firstName"
                   class="form-control"
                   type="text"
                   ng-model="model.other.firstName">
            <label for="lastName">Last Name</label>
            <input name="Last Name"
                   id="lastName"
                   class="form-control"
                   type="text"
                   ng-model="model.other.lastName">
            <label for="email">E-mail</label>
            <input name="E-mail"
                   id="email"
                   class="form-control"
                   type="email"
                   ng-model="model.other.email">
            <label for="isAdmin">Is Admin?</label>
            <input name="isAdmin"
                   id="isAdmin"
                   class="form-control"
                   type="checkbox"
                   ng-model="model.other.isAdmin">
        </form>
        <a ng-click="model.submit(model.other)"
                  class="btn btn-block btn-primary general">Submit</a>
        <a ng-click="model.cancel()"
           class="btn btn-block btn-primary general">Cancel</a>
        <a ng-click="model.delete()"
           class="btn btn-block btn-primary general">Delete</a>
    </div>

    <div class="right">
        <h3>Favorited Movies:</h3>
        <ul class="list-group">
            <li ng-repeat="movie in model.movies" class="list-group-item">
                <a ng-click="model.goToMovie(movie)" class="normal">{{movie.title}}</a>
            </li>
        </ul>

        <h3>Favorited Tags:</h3>
        <ul class="list-group">
            <li ng-repeat="tag in model.tags" class="list-group-item">
                <a ng-click="model.goToTag(tag)" class="normal">{{tag.name}}</a>
            </li>
        </ul>

        <h3>Followed Users:</h3>
        <ul class="list-group">
            <li ng-repeat="user in model.users" class="list-group-item">
                <a ng-click="model.goToUser(user)" class="normal">{{user.username}}</a>
            </li>
        </ul>
    </div>
</div>